defaults
  mode http
  balance roundrobin

# Inherits mode
frontend website
  bind :80
  default_backend web_servers

# Inherits mode and balance
backend web_servers
  server s1 192.168.1.25:80
  server s2 192.168.1.26:80