global
    daemon
    user haproxy
    group haproxy
    chroot /var/lib/haproxy

    # Syslog logging
    log /dev/log local0
    log /dev/log local1 notice

    # Stats
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s

    maxconn 100000

defaults
    mode http
    log global

    option http-keep-alive
    option abortonclose
    option dontlognull
    option httpchk
    
    # Timeouts
    timeout client          30s
    timeout server          30s
    timeout connect         5s
    timeout queue           5s
    timeout http-request    5s
    timeout http-keep-alive 2s
    timeout tunnel          1h

    retries 3

    default-server inter 3s fall 3 rise 2

frontend website
    bind :80
    default_backend web_servers

backend web_servers
    server s1 192.168.1.25:80
    server s2 192.168.1.26:80

listen stats
    bind 127.0.0.1:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats hide-version

    stats admin if LOCALHOST
