global
    daemon
    user haproxy
    group haproxy
    chroot /var/lib/haproxy

    # Syslog logging
    log /dev/log local0
    log /dev/log local1 notice

defaults
    mode http
    log global
    
    option dontlognull
    
    balance roundrobin

frontend website
    bind :80
    default_backend web_servers

backend web_servers
    server s1 192.168.1.25:80
    server s2 192.168.1.26:80